* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global body styles */
html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #525263;
    color: white; /* Gør teksten mere synlig */
}

.first {
    text-align: center;
    margin-top: 10vh;
    font-size: 2.5em; /* Øg skriftstørrelsen */
}

.buttons {
    text-align: center;
    margin-top: 5vh; /* Reducer marginen for knapperne */
}

.links {
    margin-top: 3vh; /* Mindre afstand mellem knapperne */
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    background-color: #007bff4b; /* En iøjnefaldende blå farve */
    border-radius: 5px; /* Afrundede hjørner */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Giver en smooth transition */
}

.button:hover {
    background-color: #0056b3; /* Mørkere blå ved hover */
    transform: translateY(-2px); /* Løft effekt ved hover */
}

.button:active {
    transform: translateY(0); /* Tilbage til normal ved klik */
}
